body{
    background-color:aquamarine;
    margin: 0;
}
section{
    text-align:center;
    background-color: rgb(12, 240, 16);
    margin-top: auto;
    padding:2px;
}
.div_class{
    background-color:antiquewhite;
    margin:10px;
}
.span1_class{
    color:blueviolet;
    margin:10px;

}
.span1_class:hover{
    background-color:yellow;
}
.div2_class{
    background-color:aliceblue;
    margin:10px;
}
.span2_class{
     color:blueviolet;
    margin:10px;
}
.div3_class{
    background-color:aliceblue;
    margin:10px;
}
.span3_class{
 color:blueviolet;
 margin:10px;
}
.p{
    margin:10px;
}
footer{
    color:white;
    margin:10px;
        background-color: blueviolet;
        text-align:center;
}
